@font-face {
    font-family: 'attractype_rebornregular';
    src: url('attractype_reborn.woff2') format('woff2'),
         url('attractype_reborn.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
